#sentence {
  font-style: italic;
  font-size: .75em;
}

#scoreboard {
  font-size: 0.7em;
  margin: 2px;
}

.score {
  margin: 2px;
  padding: 2px;
  border: 1px solid #6a1b9a;
  border-radius: 5px;
}

span {
  white-space: nowrap;
}

.divider {
  margin: 10px;
}

.little {
  height: 24px;
  line-height: 24px;
  padding: 0 0.5rem;
}

.underline {
  border-style: none none solid none;
  border-width: 1px;
  border-bottom-color: #e0e0e0;
}

.valign-wrapper {
  vertical-align: middle;
}

#studyListWords {
  margin: 5px;
}

ul {
  padding-left: 1.75em;
}